:root{
    --whitesmoke: #f5f5f5;
    --button-orange: rgb(255, 152, 0);
    --dark-gray: rgb(36, 40, 47);
    --box-shadow-dark: rgba(0, 0, 0, .8);
    --box-shadow-light: rgba(0, 0, 0, .3);
    --light-gray: rgb(60, 62, 68);
    --pure-white: #ffffff;
    --navy-blue-background: #1e234d;
    --hero-image: rgba(60, 62, 68, 0.5)
}